<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Search for Accidents</h5>
    <form action="/accidents/search" class="search-form">
      <div class="form-group">
        <i class="fas fa-search"></i>
        <input type="search" name="term" class="form-control" 
          placeholder="Accident address..." required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Charlotte-Mecklenburg Accidents</h5>
    <div id='accident-map'></div>
  </div>
</div>